@font-face {
  font-family: "BebasNeue";
  src: url("../../fonts/BebasNeue-Regular.woff2"), url("../../fonts/BebasNeue-Regular.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSans Bold";
  src: url("../../fonts/PTSans-Bold.woff2"), url("../../fonts/PTSans-Bold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSans";
  src: url("../../fonts/PTSans-Regular.woff2"), url("../../fonts/PTSans-Regular.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
