//Colors
$blue: #3877EE;
$iris-blue: #5D5FEF;
$fuchsia: #EF5DA8;
$numeration-dark-grey: #303E5880;
$semi-transparent-dark-grey-blue: rgba(66, 86, 122, 0.5);
$dark-grey-blue:#42567A;

// Viewports
$tablet-view: 768px;
$desktop-view: 1920px;
