.period {
  @media (min-width: $desktop-view) {
    opacity: 0;
    visibility: hidden;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__title {
    display: none;
  }

  &__list {
    @include list-reset();
    @include display-flex(flex-start, space-between, left, row);
    min-height: 114px;
    gap: 25px;
    overflow-x: hidden;

    @media (min-width: $desktop-view) {
      margin-bottom: 104px;
    }
  }

  &__date {
    margin-top: 20px;
    min-width: 166px;
    max-height: 114px;

    @media (min-width: $desktop-view) {
      min-width: 320px;
      max-height: 135px;
    }
  }

  &__nav-btns {
    display: none;
  }
}
